

/* .container-fluid {
    margin: 0;
    background-color: #000000;
    position: relative;  
} */
/* .banner-text {
    color: #FAFAFA;
    text-align: center;
    font-weight: 400px;
    margin-bottom: 0px;
} */
/* .banner-span { 
    font-family: "Poppins"; 
    font-size: 14px;
    text-decoration: underline solid;
    line-height: 24px;
    text-align: center;
} */
/* .language {
    top: 0;
    right: 65px;
    max-width: 78px;
    max-height: 24px;
    position: absolute;
    flex: content;
} */