body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.row {
    --bs-gutter-x: 0;
}

/* Signin page Styling */

.input-signin {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0%;
}

.form-control:focus {
    box-shadow: none;
}
.signin-image {
    width: 900px;
}
.login-button {
    color: #000;
}

/* Login Page styling */

.custom-login-btn {
  background-color: #DB4444;
  border-color: #DB4444;
  color: #fff;
  width: 29%;
}

.custom-login-btn:hover,
.custom-login-btn:focus,
.custom-login-btn:active,
.custom-login-btn:focus:active {
  background-color: #DB4444 !important;
  border-color: #DB4444 !important;
  box-shadow: none;
}

.btn {
    --bs-btn-border-radius: none;
}

/* Navigation Bar */

.nav-item {
    font-family: "Poppins", sans-serif;
}

@media (min-width: 992px) {
    .w-md-50 {
        width: 50% !important;
    }
}

/* Footer styling */

.footer-logo {
    gap: 45px;
}

.footer-section {
    background-color: #000;  
}

.form-footer {
    border: 2px solid white;
    max-width: 217px;
}

.signup-button {
    border: 2px solid black;
}
.download-para {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 12px;
}
.bottom-text {
    color: #F9F9F9;

}
.custom-email-input {
  font-weight: 400;
  padding: 8px 16px;
  border: none;
}

.custom-email-input::placeholder {
  color: rgba(255, 255, 255, 0.4); 
  font-weight: 400;
}

.subscribe-form button {
  background-color: transparent;
  border: none;
}
